<section class="single-page-title">
    <div class="container text-center">
        <h2>Cubex2</h2>
    </div>
</section>

<section class="x-features">
    <section class="section-title">
        <div class="container text-center">
            <h2>The Next Evolution in Zirconia</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 img-left">
                <%= image_tag(image_path("cubex-graphics.png"), size: "450x639")%>
            </div>
            <div class="col-md-6">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-content">
                        
                        <p>The new cubeX2 material combines the known positive properties of zirconia with a significant increase in translucency (49% translucency), making it ideal for anterior and posterior applications up to 3-unit bridgework in all tooth positions. Highly biocompatible, cubeX2 is the ideal restorative material for today’s dentistry, offering the translucency of a lithium disilicate while retaining the strength of zirconia (720 MPa’s). Unlike current glass ceramics, cubeX2 allows for a conservative feather edge preparation due to its high strength. Dentists no longer have to choose between traditional zirconia and lithium disilicate…cubeX2 has both strength and beauty!</p>
                    </div>
                </div>

                <div class="promo-block-wrapper clearfix">

                    <div class="promo-content">
                        <h3>Clinical Indications</h3>

                        <p>cubeX2 is indicated for single crowns and 3-unit bridgework in all tooth positions.</p>
                    </div>
                </div>

                <div class="promo-block-wrapper clearfix">

                    <div class="promo-content last-type">
                        <h3>Preparation Requirements</h3>

                        <p>cubeX2 requires less tooth preparation than is required for lithium disilicate. Ideally, a .8 mm chamfer or rounded shoulder prep is preferred, however a feather-edge margin is acceptable with 1.0 – 1.5 mm occlusal reduction.</p><br>

                        <%= image_tag(image_path("cubex-prep-guide.png"), size: "500x250")%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="x-features">
    <section class="section-title">
        <div class="container text-center">
            <h2>Cementation</h2>
            <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 img-left">
                <%= image_tag(image_path("paste.png"), size: "400x360")%>
            </div>
            <div class="col-md-6">
                <div class="promo-block-wrapper clearfix">
                    <div class="promo-content">
                        
                        <p>Recent research has shown that saliva contamination can hinder the bonding of zirconia based products. When a zirconia crown or bridge is tried in the patient’s mouth and comes in contact with saliva, the phosphate groups in the saliva bind to the zirconia oxide and cannot be rinsed out with water. Attempting to use phosphoric acid (which is full of phosphate groups) to ‘clean out’ the saliva only makes the problem worse.
                        <br>
												To successfully remove saliva, it is now suggested that after try-in and before priming, the crown should be cleaned with Ivoclean, a zirconia oxide solution from Ivoclar Vivadent. This zirconia oxide solution is placed inside the restoration for 20 seconds and then rinsed out. Due to the large concentration of free zirconia oxide in the Ivoclean, it acts as a sponge and binds to the phosphate groups that were previously bonded to the restoration.</p>
                    </div>
                </div>

                <div class="promo-block-wrapper clearfix">

                    <div class="promo-content">
                        <h3>Suggested Cementation Protocol:</h3>

                        <p>1. Try-in zirconia-based restoration<br>
												2. Rinse saliva out of restoration with water<br>
												3. Place Ivoclean in restoration for 20 seconds,
												rinse and dry<br>
												4. Apply primer and then cement with product of
												your choice</p>
                    </div>
                </div>
                
                <div class="promo-block-wrapper clearfix">

                    <div class="promo-content">
                        <h3>Cementation Recommendations:</h3>

                        <p>• Ceramir® Crown & Bridge (Doxa Dental) or a resin-reinforced glass ionomer cement such as RelyX™ Luting Cement (3M ESPE) or GC Fuji Plus™ (GC America)<br> 
                        • For short or over-tapered preparations, use a resin cement such as RelyX Unicem (3M ESPE) or Panavia™ F2.0 (Kuraray)</p>
                    </div>
                </div>

                <div class="promo-block-wrapper clearfix">

                    <div class="promo-content">
                        <h3>Finishing and Polishing</h3>

                        <p>Maine Dental Lab recommends the Brasseler USA® Dialite® ZR Kit for finishing and polishing cubeX2 and BioZX2 zirconia products. This two-step system allows you to quickly achieve maximum surface smoothness, enhancing your restoration’s longevity and minimizing wear to opposing dentition.
                        <br>
												<b>Important: Be sure to use adequate water when adjusting.</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>